body {
    background-color: #B2C8DF;
}


/*  */

table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #D4ECDD;
}
.view {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #feffee;
    border-radius: 20px;
}

.dsBlock {
    display: inline-block;
}
.dsBlockR {
    float: right;
}

.bold {
    font-weight: bold;
    margin-left: 40px;
    margin-right: 40px;
    font-family: sans-serif;
    font-size: 300%;
    color: #6E85B7;
}
.city {
    font-size: 600%;
    /* font-weight: bold; */
    margin-bottom: 0px;
    margin-left: 40px;
    padding-top: 30px;
    font-family: sans-serif;
    color: #6E85B7;
}

.nowTemp {
    display: block;
    font-size: 600%;
    position: relative;
    margin-top: 25px;
    margin-left: 40px;
    /* font-weight: bold; */
    font-family: sans-serif;
    color: #6E85B7;
    
}

.iconImg {
    width: 100px;
}
.weatherIcon {
    margin-top: -5px;
    margin-bottom: 0px;
    margin-left: 50px;
    width: 200px;
    height: auto;
}

.forecast {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 20px;
    background-color: #feffee;
    border-radius: 20px;
    font-family: sans-serif;
    
}

.forecastName {
    font-size: 300%;
    /* font-weight: bold; */
    margin-bottom: 0px;
    margin-left: 40px;
    padding-top: 30px;
    font-family: sans-serif;
    color: #6E85B7;
}


.marginBottom {
    margin-bottom: 20px;
}

.centerText {
    text-align: center;
    color: #6E85B7;
    font-size: 300%;
}


/* 화면 넓을때 */
@media (hover: hover) and (pointer: fine) {
    .view {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
        font-size: 100%;
    }
    .nowTemp {
        font-size: 300%;
        margin-left: 50px;
    }

    .iconImg {
        width: auto;
    }
    .weatherIcon {
        margin-top: 5px;
        margin-bottom: -5px;
        margin-left: 50px;
    }
    .city {
        margin-left: 50px;
        font-size: 400%;
        
    }
    .bold {
        font-weight: bold;
        margin-left: 50px;
        font-size: 100%;
        margin-right: 50px;
    }
    
    /* forecast */
    
    .forecast {
        width: 50%;
        border-radius: 20px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        font-family: sans-serif;
    }
    .forecastName {
        font-size: 200%;
    /* font-weight: bold; */
        margin-bottom: 0px;
        margin-left: 50px;
        padding-top: 30px;
        font-family: sans-serif;
    }
    .marginBottom {
        margin-bottom: 0px;
    }
    .centerText {
        text-align: center;
        font-size: 150%;
    }
    
  }
