<html>
  <head>
    <title>Weather</title>
    <link href="{{ url_for('static', path='weather.css') }}" rel="stylesheet" />
  </head>
  <body onload="loadTable()">
    <div class="view">
      <p class="city">{{ id }}</p>
      <p
        style="
          float: right;
          margin-right: 50px;
          color: #6e85b7;
          font-size: 100%;
          font-weight: bold;
        "
      >
        {{nowTime}} 기준
      </p>
      <div class="marginBottom" style="display: flex">
        <div>
          <span class="nowTemp">{{ nowTemp }}°</span>
        </div>

        <div class="weatherIcon" style="display: flex">
          <img
            class="iconImg"
            src="http://openweathermap.org/img/wn/{{weatherIcon}}@2x.png"
          />
        </div>
      </div>

      <div class="bold">
        <div class="dsBlock">체감온도</div>
        <div class="dsBlockR">{{ feels_like }}°</div>
      </div>
      <div class="bold">
        <div class="dsBlock">최고/최저</div>
        <div class="dsBlockR">{{temp_max}}° / {{temp_min}}°</div>
      </div>
      <div class="bold">
        <div class="dsBlock">기압</div>
        <div class="dsBlockR">{{pressure}}mb</div>
      </div>
      <div class="bold">
        <div class="dsBlock">풍속</div>
        <div class="dsBlockR">{{windSpeed}}km/h</div>
      </div>
      <div class="bold">
        <div class="dsBlock">습도</div>
        <div class="dsBlockR">{{humidity}}%</div>
      </div>
      <div class="bold" style="padding-bottom: 20px">
        <div class="dsBlock">일출/일몰</div>
        <div class="dsBlockR">{{sunrise}} / {{sunset}}</div>
      </div>
    </div>
    <div class="forecast">
      <div class="forecastName"></div>
      <div class="forcastView">
        <table style="width: 100%">
          <tr>
            <th class="centerText">시각</th>
            <th class="centerText">날씨</th>
            <th class="centerText">습도</th>
            <th class="centerText">기온</th>
            <th class="centerText">체감</th>
          </tr>
          {% for i in range(0,39) %}
          <tr>
            <td class="centerText">{{ dt[i] }}</td>
            <td class="centerText forecastIcon">
              <img
                class="iconImg"
                src="http://openweathermap.org/img/wn/{{icons[i]}}.png"
              />
            </td>
            <td class="centerText">{{ hums[i] }}%</td>
            <td class="centerText">{{ temps[i] }}°</td>
            <td class="centerText">{{ feels[i] }}°</td>
          </tr>
          {%endfor%}
        </table>
      </div>
    </div>
  </body>
</html>

<!-- document.querySelector("body > div.forecast > div.forcastView > table > tbody") -->

<!-- 
document.querySelector("body > div.forecast > div.forcastView > table > tbody > tr:nth-child(2) > td:nth-child(40)")

 -->
